html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/main_photo.jpg");
    background-size: cover; /* розтягує на весь екран */
    background-position: center; /* центрує зображення */
    background-repeat: no-repeat;

}

.navigation {
    display: flex;
    justify-content: center; /* вирівнювання по центру */
    gap: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* прозорий чорний фон */
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: "Alfa Slab One", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    transition: all 0.3s;
}

.navigation a:hover {
    background-color: #9a9a9a;
    color: #000000;
    transform: scale(1.05);
}

.navigation a.active {
    background-color: #9a9a9a;
    color: #000000;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 200,
        "CTRS" 0;
    object-fit: cover;
    margin-bottom: 0;
    margin-top: 20px;
}

