html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/main_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}


.logo-link {
    display: inline-block;
    margin-left: 0;
    outline: none;
    border: none;
}


.logo {
    width: 120px;
    height: auto;
    object-fit: contain;
    display: block;
}


.account-link {
    margin-left: auto;
    display: inline-block;
}

.account-logo {
    padding-right: 10px;
    object-fit: contain;
    display: block;
}


.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.nav-center a:hover {
    color: #aeaeae;
    transform: scale(1.05);
    border-radius: 8px;
}



.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Alfa Slab One", serif;
    font-size: 17px;
    transition: transform 0.5s ease;

}


.navigation a:hover {
    color: #b6b6b6;
    transform: scale(1.17);
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Science Gothic", sans-serif;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 20px;
}

