<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo's/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">

    <title>Contacts</title>
</head>
<body>
    <div class="navigation">
        <a href="/" class="logo-link">
            <img src="../static/images/logo's/main_logo.png" alt="main_logo" class="logo">
        </a>
        <nav class="nav-center">
            <a href="/" title="Home Page"><b>Home</b></a>
            <a href="/contact"><b>Contact</b></a>
        </nav>

        <div class="account-block">

    {% if current_user.is_authenticated %}

        <details class="account-dropdown">
        <summary>
            <img src="{{ url_for('static',filename='images/users_icon_upload/' +(current_user.image or 'account_icon.png')) }}" class="account-icon">
        </summary>
            <div class="dropdown-menu">
                <span class="username">
                    {{ current_user.username }}
                </span>
                <a href="/dashboard">My account</a>
                <a href="/favorites">Favorites</a><hr>
                <a href="/helpdesk">Helpdesk</a>
                <a href="/settings">Settings</a><hr>
                <a href="/logout">Logout</a>
            </div>
        </details>

    {% else %}
        <a href="/login" class="account-button">Login</a>
        <a href="/register" class="account-button">Register</a>

    {% endif %}

</div>
</div>


    <div class="cont">
        <div class="quick_contact_form">
            <h2>Quick Contact Form</h2>
            <p>You can reach us anytime</p>
            <div id="quick_contact">
                <form method="POST" class="quick_contact_body">
                    <textarea name="message1" placeholder="First name" required></textarea>
                    <textarea name="message1" placeholder="Last name" required></textarea>
                    <textarea name="message1" placeholder="Your email" required></textarea>
                    <textarea name="message1" placeholder="Phone number" required></textarea>
                    <textarea name="message1" placeholder="how can we help?" required></textarea>
                    <button  class="btn_quick_contact" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="contact_container">
            <header class="h1_contact">
                <h1>Contact Me</h1>
            </header>

            <div class="contact_info">
                <p>Email, call, or complete the form to learn how ZoomAuto can solve your messaging problem</p><wbr>
            </div>

            <div class="social_media_links">
                <div class="github_link">
                    <a href="https://github.com/Stasik22" target="_blank"></a>
                    <img src="../static/images/icons/github_logo.png" alt="GitHub" width="50" height="50">
                </div>

                 <div class="mail_link">
                     <a href="mailto:stanislavmats@icloud.com"></a>
                     <img src="../static/images/icons/mail.png" alt="Email" width="50" height="50">
                 </div>
            </div>
        </div>

        <div class="small_inf">
        <header class="customer_support_text">
            <h2>Customer Support</h2>
            <p>Our support team<br> is available around <br>the clock to address<br> any concerns or queries<br> you may have</p>
        </header>

        <header class="feedback_sugesstion_text">
            <h2>Feedback and Suggestions</h2>
            <p>We value your feedback<br> and are continuously<br> working to improve ZoomAuto.<br>Your input is crucial in shaping<br> the future of ZoomAuto</p>
        </header>

        <header class="media_inquiries_text">
            <h2>Media Inquiries</h2>
            <p>For media-related<br> questions or press<br> inquiries, please contact us at <br><em>media@zoomauto.com</em>><br>or use Quick Contact Form</p>
        </header>
    </div>

    <button id="supportButton">Customer Support</button>


    <div id="supportPopup">
        <div class="popup-header">
            <span>Customer Support</span>
            <button id="closePopup">✖</button>
        </div>

        <form method="POST" class="popup-body">
            <textarea name="message" placeholder="Write your problem" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>

    <script>
        const button = document.getElementById("supportButton");
        const popup = document.getElementById("supportPopup");
        const close = document.getElementById("closePopup");

        button.onclick = () => popup.style.display = "flex";
        close.onclick = () => popup.style.display = "none";
    </script>

    <div class="blur-transition"></div>

    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2649.811194171704!2d17.586480477049182!3d48.38336307127174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476ca0835e979103%3A0xa0ffd0b8e0b3eb33!2sUniversity%20of%20St.%20Cyril%20and%20Methodius%20in%20Trnava!5e0!3m2!1sru!2ssk!4v1763392532127!5m2!1sru!2ssk" width="600" height="450" style="border-radius: 20px"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h3>You can find us there</h3>
    </section>


    <footer>
        &copy; 2025
    </footer>
    </div>
</body>
</html>