<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">

    <title>Contacts</title>
</head>
<body>
    <div class="navigation">
        <a href="/" class="logo-link">
            <img src="../static/images/main_logo.png" alt="main_logo" class="logo">
        </a>
        <nav class="nav-center">
            <a href="/" title="Home Page"><b>Home</b></a>
        </nav>


        <div class="account-block">
            <a href="/account" class="account-link">
                <img src="../static/images/account_icon.png" alt="account_logo" class="account-logo">
            </a>
            <a href="/login" class="account-button">Login</a>
            <a href="/register" class="account-button">Register</a>
        </div>
    </div>

    <header class="h1_contact">
        <h1>Contact Me</h1>
    </header>

    <div class="contact_info">
        <p>Email, call, or complete the form to learn how ZoomAuto can solve your messaging problem</p><wbr>
        <p>stanislavmats@icloud.com</p>
    </div>

         <section class="map">
            <h3>You can find us there</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2649.811194171704!2d17.586480477049182!3d48.38336307127174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476ca0835e979103%3A0xa0ffd0b8e0b3eb33!2sUniversity%20of%20St.%20Cyril%20and%20Methodius%20in%20Trnava!5e0!3m2!1sru!2ssk!4v1763392532127!5m2!1sru!2ssk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

    </main>

    <footer>
        &copy; 2025 Stanislav Matsak, Trnava, Slovensko
    </footer>
</body>
</html>