<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ZoomAuto</title>

    <link rel="icon" href="../static/images/logo's/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">
</head>

<body>

<div class="navigation">
        <a href="/" class="logo-link">
            <img src="../static/images/logo's/main_logo.png" alt="main_logo" class="logo">
        </a>
        <nav class="nav-center">
            <a href="/" title="Home Page"><b>Home</b></a>
            <a href="/contact"><b>Contact</b></a>
        </nav>

        <div class="account-block">

    {% if current_user.is_authenticated %}

        <details class="account-dropdown">
        <summary>
            <img src="../static/images/icons/account_icon.png" alt="account_logo" class="account-icon">
        </summary>
            <div class="dropdown-menu">
                <span class="username">
                    {{ current_user.username }}
                </span>

                <a href="/dashboard/account">My account</a>
                <a href="/dashboard/favorites">Favorites</a><hr>
                <a href="/dashboard/helpdesk">Helpdesk</a>
                <a href="/dashboard/settings">Settings</a><hr>
                <a href="/logout">Logout</a>
            </div>
        </details>

    {% else %}
        <a href="/login" class="account-button">Login</a>
        <a href="/register" class="account-button">Register</a>

    {% endif %}

</div>
</div>


<header class="h1_home">
    <h1>Find your ideal car at ZoomAuto</h1>
</header>


<div class="car-search-container">
    <form method="get" action="{{ url_for('search') }}" class="car-search">

        <select name="brand" required>
            <option value="">Brand</option>
            <option value="bmw">BMW</option>
            <option value="audi">Audi</option>
            <option value="alfa romeo">Alfa Romeo</option>
        </select>

        <select name="year" required>
            <option value="">Year</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
        </select>

        <select name="price" required>
            <option value="">Price</option>
            <option value="0-20000">до 20 000 €</option>
            <option value="20000-30000">20 000 – 30 000 €</option>
            <option value="30000-40000">30 000 – 40 000 €</option>
        </select>

        <button type="submit">🔍 Find</button>
    </form>
</div>


<div class="car-recommendation-container">
    <div class="car-recommendation">

        <h2>ZoomAuto Car Recommendation</h2>

        <div class="car-offers">
            {% for car in cars %}
            <div class="car-card">

                <img src="{{ url_for('static', filename=car.image) }}" alt="car.name">

                <div class="car-info">
                    <h3>{{ car.name }}</h3>
                    <p>
                        {{ car.year }} • {{ car.brand|title }} •
                        {{ "{:,}".format(car.price).replace(",", " ") }} €
                    </p>
                </div>
                <button><a href="{{ url_for('offer', car_id=car.id) }}" class="btn">View offer</a></button>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


<div class="about-section">
    <h2>About me</h2>
    <p>
        ZoomAuto is a demo project built with Flask and PostgreSQL.
        All cars are loaded dynamically from the database.
    </p>
</div>

</body>
</html>