<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../images/logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="../static/style.css">

    <title>Home</title>
</head>
<body>
    <div class="navigation">
        <nav>
            <a href="/" title="Home Page"><b>Home</b></a>
            <a href="/contact" title="Contact me"><b>Contact</b></a>
        </nav>
    </div>
    <div class="main_info">
        <h1>Welcome tp my shop</h1>
        <h2>About me</h2>
        <p>SDadsopdaksdkaspadsoaosdppkoas</p>
    </div>

    <div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1" checked>
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">

    <div class="slide first">
      <img src="../images/main_photo.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../images/logo.jpg" alt="">
    </div>
    <div class="slide">
      <img src="../images/main_photo.jpg" alt="">
    </div>

    <!-- Навігація через кнопки -->
    <div class="navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
    </div>
  </div>

  <div class="navigation-manual">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
  </div>
</div>


</body>
</html>