<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="navigation">
        <a href="/" class="logo-link">
            <img src="../static/images/main_logo.png" alt="main_logo" class="logo">
        </a>
        <nav class="nav-center">
            <a href="/" title="Home Page"><b>Home</b></a>
            <a href="/contact" title="Contact me"><b>Contact</b></a>
        </nav>

    <!-- Блок для іконки акаунту та кнопок -->
        <div class="account-block">
            <a href="/account" class="account-link">
                <img src="../static/images/account_icon.png" alt="account_logo" class="account-logo">
            </a>
            <a href="/login" class="account-button">Login</a>
            <a href="/register" class="account-button">Register</a>
        </div>
    </div>

    <header class="h1_home">
        <h1>Find your ideal car at ZoomAuto</h1>
    </header>

    <div>
        <h2>About me</h2>
        <p>SDadsopdaksdkaspadsoaosdppkoas</p>
    </div>
</body>
</html>
