<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ZoomAuto</title>

    <link rel="icon" href="../static/images/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">
</head>
<body>

<div class="navigation">
    <a href="/" class="logo-link">
        <img src="{{ url_for('static', filename='images/main_logo.png') }}"
             alt="ZoomAuto logo" class="logo">
    </a>

    <nav class="nav-center">
        <a href="/"><b>Home</b></a>
        <a href="/contact"><b>Contact</b></a>
    </nav>

    <div class="account-block">
        <a href="/account" class="account-link">
            <img src="{{ url_for('static', filename='images/account_icon.png') }}"
                 alt="Account" class="account-logo">
        </a>
    </div>
</div>

<div class="login_container">
    <div class="login_form">
        <img src="../static/images/alfa.png" alt="alfa" class="login_img">

        <div class="login_body">
            <div class="auth-wrapper">
                <input type="radio" name="auth" id="login" checked>
                <input type="radio" name="auth" id="register">

                <div class="auth-toggle">
                    <div class="toggle-bg"></div>
                    <label for="login">Login</label>
                    <label for="register">Register</label>
                </div>


                <div class="auth-forms">


                    <form method="POST" action="" class="auth-form login-form">
                        {{ form.hidden_tag() }}
                        {{ form.username }}
                        {{ form.password }}
                        {{ form.submit }}
                    </form>


                    <form method="POST" action="" class="auth-form register-form">
                        {{ form.hidden_tag() }}
                        {{ form.username }}
                        {{ form.email }}
                        {{ form.password }}
                        {{ form.submit}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>