<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ZoomAuto</title>

    <link rel="icon" href="../static/images/logo's/main_logo.png" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Science+Gothic:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="navigation">
        <a href="/" class="logo-link">
            <img src="../static/images/logo's/main_logo.png" alt="main_logo" class="logo">
        </a>
        <nav class="nav-center">
            <a href="/" title="Home Page"><b>Home</b></a>
            <a href="/contact"><b>Contact</b></a>
        </nav>

        <div class="account-block">

    {% if current_user.is_authenticated %}

        <details class="account-dropdown">
        <summary>
            <img src="{{ url_for('static', filename='images/users_icon_upload/' ~ (current_user.image or 'account_icon.png')) }}" alt="account_logo" class="account-icon">
        </summary>
            <div class="dropdown-menu">
                <span class="username">
                    {{ current_user.username }}
                </span>
                <a href="/dashboard/account"><img src="../static/images/icons/layer-minus (1).png" height="18" width="20" class="layer-minus"/>My account</a>
                <a href="/dashboard/favorites" class="favorites_text"><img src="../static/images/icons/book-bookmark (1).png" height="18" width="20" class="bookmark_icon"/>Favorites</a>
                <a href="/dashboard/helpdesk"><img src="../static/images/icons/user-headset.png" height="18" width="20" class="headset"/>Helpdesk</a>
                <a href="/dashboard/settings"><img src="../static/images/icons/user-gear.png" height="18" width="20" class="gear_icon"/>Settings</a><hr>
                <a href="/logout"><img src="../static/images/icons/user-logout.png" height="18" width="20" class="logout_icon"/>Logout</a>
            </div>
        </details>

    {% else %}
        <a href="/login" class="account-button">Login</a>
        <a href="/register" class="account-button">Register</a>
    {% endif %}
</div>
</div>
<div class="account-page">
    <div class="account-container">
        <p>My Account</p>
        <ul>
            <li><a href="/dashboard/account">My account</a></li>
            <li><a href="/dashboard/favorites">Favorites</a></li>
            <li><a href="/dashboard/saved">Saved</a></li><hr>
            <li><a href="/dashboard/helpdesk">Helpdesk</a></li>
            <li><a href="/dashboard/settings">Settings</a></li><hr>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div class="overlay">
    <div class="modal">
        <button type="button" id="closePopupPhoto">✖</button>
        <h2 class="title">Profile photo</h2>

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="current_photo">
                <p class="photo_text">Current photo</p>
                <img src="{{ url_for('static', filename='images/users_icon_upload/' ~ (current_user.image or 'account_icon.png')) }}" class="account_icon_big">

            </div>


            <label class="file_label">
                Select new photo
                {{ form.file(class="file_input") }}
            </label>


            <div class="btn_box">
                {{ form.submit(class="submit_btn") }}
            </div>

        </form>

        <script>
            const close = document.getElementById("closePopupPhoto");

            close.onclick = () => window.location.href= "/dashboard/account";
        </script>

    </div>
</div>
</div>

</body>
</html>